body {
  margin: 0 0 0 0 !important;
	padding: 0;
  background-image: url('stars.gif');
  background-repeat:repeat;
  color: white;
  font-family:  "Courier New","Lucida Console", monospace;
}

.border{
  width: 90%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 100px;
}

h1{
  font-weight: normal;
}

#typewriter {
  text-align: center;
  font-size: 50px;
}


a:link {
  color: #ffb84d;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ffb84d;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #ffdb4d;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ffdb4d;
  background-color: transparent;
  text-decoration: underline;
}



.centered{
  /*height: 200px;
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -220px;*/
  text-align: center;
}
.menuMIDDLE{
  font-family:  "Courier New","Lucida Console", monospace;
  /*width:400px;*/
  font-size: 40px;
}

.menuTOP{
  font-family:  "Courier New","Lucida Console", monospace;

}

ul{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

ul.#inline
{
  display: inline
}
